# CROPWISE AI - Environment Configuration

# Flask Application Settings
SECRET_KEY=cropwise_ai_secret_super_key_2026_final_year

# EmailJS Configuration for Registration OTP
EMAILJS_SERVICE_ID=service_was0ejd
EMAILJS_TEMPLATE_ID=template_wz05yvm
EMAILJS_PUBLIC_KEY=Zo1Xd1EKRmdPIgtnV